URxvt*perl-lib: /home/luis/.urxvt/:/home/luis/.urxvt/urxvt-vim-scrollback
URxvt*perl-ext-common: default,matcher,vim-scrollback
URxvt.url-launcher:/usr/bin/xdg-open
! URxvt.font: xft:Gohu GohuFont:size=11
URxvt.font: xft:Inconsolata for Powerline:size=12
URxvt.secondaryWheel: 1
URxvt.scrollBar: false
URxvt.hold: false
URxvt*iconFile: /usr/share/icons/ePapirus/32x32/apps/gnome-terminal.svg

! URL options
URxvt.matcher.button: 1
URxvt.underlineURLs: True

! Vim-Scrollback
URxvt.vim-scrollback: M-q
URxvt.vim-scrollback-bg: 16
URxvt.vim-scrollback-fg: 10

! Borders
URxvt.internalBorder: 20
URxvt.externalBorder: 10
URxvt.borderLess: false

! Disable default binding 
URxvt.iso14755: false
URxvt.iso14755_52: false

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank: true

! Color Schemes !

!*.foreground:   #d1c4be
!*.background:   #14100f
!*.cursorColor:  #d1c4be
!
!! black
!*.color0:       #1f1b18
!*.color8:       #67a88f
!
!! red
!*.color1:       #292320
!*.color9:       #e8c1af
!
!! green
!*.color2:       #3b3430
!*.color10:      #92c9da
!
!! yellow
!*.color3:       #554a46
!*.color11:      #a6b563
!
!! blue
!*.color4:       #756760
!*.color12:      #a4b26c
!
!! magenta
!*.color5:       #9b8981
!*.color13:      #a68ede
!
!! cyan
!*.color6:       #c4b1a9
!*.color14:      #cdc5e5
!
!! white
!*.color7:       #e7e1df
!*.color15:      #5ab090

! Roofie
rofi.font: Inconsolata-Regular 11

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6
